<section class="article">
  <div class="container">
    <div class="article__wrapper">
      <div class="article__desc">
        Обычная российская семья платит ипотеку за однушку не меньше 10 лет. За это время может случиться всякое:
        родятся и пойдут в школу дети, захочется расширить жилплощадь или вовсе переехать в другой город. Как быть c
        ипотечной квартирой? Портал недвижимости расскажет, как продать объект в залоге без тревог и нервотрёпки.
      </div>
      <h3>
        О чем узнаете в статье
      </h3>
      <a href="#">
        Статистика и основные проблемы продажи ипотечной квартиры
      </a>
      <a href="#">
        3 способа продать ипотечную квартиру
      </a>
      <h3>
        3 способа продать ипотечную квартиру
      </h3>
      <div class="article__indented">
        В 2021 году россияне <a href="#">оформили</a> 1,9 млн ипотечных кредитов. Это то же самое, если бы все жители
        Казани и Челнов
        решили разом взять ипотеку. Общая сумма взятой россиянами ипотеки составляет 5,7 трлн. рублей. Это рекордные
        показатели с 1998 года. <br> Татарстанцы в этом вопросе <a href="#">занимают</a> пятое место по стране. Жители
        республики <a href="#">взяли</a> 60,7
        тыс. ипотечных кредитов за 11 месяцев 2021 года. Сумма сделок превышает 150 млрд рублей, что на 8% выше
        аналогичного периода 2020 года.
      </div>
      <p>
        Рано или поздно купленная в ипотеку недвижимость выходит на вторичный рынок. Хорошо, если кредит за объект уже
        погашен, но все чаще встречаются ситуации, когда люди вынуждены продать квартиру с долгом. Причины могут быть
        разными: кто-то стремится улучшить свои жилищные условия, кто-то разводится и делит имущество, кто-то не может
        выплатить долг, кому-то в срочно понадобились деньги. Как итог - рынок пополняется предложениями о продаже жилых
        объектов в залоге.
      </p>
      <p>
        <b>
          <i>
            Например, Юля. Девушка купила однушку в ипотеку год назад. Платила ежемесячно по 12 тыс. рублей, но успела
            покрыть только 60 тыс. рублей основного долга, осталась должна банку 1 млн. рублей. Юля переезжает в другой
            город и теперь не знает, что делать с ипотечной квартирой. Можно ли ее быстро и выгодно продать?
          </i>
        </b>
      </p>
      <div class="article__blockquote">
        @include('user.html')
        <blockquote>
          — Жилых объектов с ипотекой в Казани много: свободных денег у людей становится всё меньше. Сразу отмечу,
          продажа
          квартиры с обременением — не простая сделка. Требуется договориться и с покупателем (для внесения большого
          задатка) и с банком.
        </blockquote>
      </div>
      <h3>
        3 способа продать ипотечную квартиру
      </h3>
      <p>
        История Марины - скорее счастливая случайность. Для нее все сложилось <span>наилучшим образом - знакомым
          понравилась
          именно ее недвижимость.</span>
        Но не каждый покупатель захочет и сможет доверить деньги незнакомому продавцу и ждать несколько дней, а может
        быть и дольше, пока банк снимет обременение. Найти такого человека, суметь с ним договориться, составить
        юридически верное соглашение о внесении задатка - непростая задача. Но все возможно, особенно если вы заручились
        поддержкой в решении этого вопроса опытного риэлтора.
      </p>
      @include('img.html')
      <br>
      <br>
      <div class="article__blockquote article__blockquote--transparent">
        @include('user.html')
        <blockquote>
          «‎Если в процессе сделки стоимость квартир на рынке вырастет, а договор купли-продажи уже будет заключён, цену
          на недвижимость изменить вы не сможете»
        </blockquote>
      </div>
      <h4>
        Продажа ипотечной квартиры с участием банка-кредитодателя пошагово:
      </h4>
      <ol>
        <li>
          Уведомить банк о продаже. Подойдите в отделение клиентского обслуживания и напишите заявление. Объясните
          причину продажи.
        </li>
        <li>
          Взять справку о размерах остатка основного долга (это можно сделать онлайн).
        </li>
        <li>
          Заключить договор купли-продажи с покупателем.
        </li>
        <li>
          Удостоверится, что покупатель перечислил деньги на аккредитив или в банковскую ячейку, после чего ждать снятия
          обременения. Это занимает 5-7 рабочих дней, но порой сроки могут затянуться до 30 рабочих дней. Эксперты
          советуют обратиться в службу поддержки с просьбой ускорить процесс.
        </li>
        <li>
          Получить закладную и выписку об отсутствии обременения.
        </li>
        <li>
          Сдать документы в МФЦ на регистрацию.
        </li>
        <li>
          Получить оставшуюся часть денег.
        </li>
      </ol>
      <p>
        <b>Примечание 1:</b> Сделка с участием банка приостановится на время снятия обременения. Но каждая из сторон в
        это время будет юридически защищена.
      </p>
    </div>
  </div>
</section>
