<section class="discussions">
  <div class="container">
    <div class="discussions__wrapper">
      <h2 class="discussions__title">
        Обсуждения
      </h2>
      <p class="discussions__desc">
        <span>4</span> комментария
      </p>
      <form class="discussions__form" action="">
        <div class="user">
          <div class="user__img-wrapper">
            <img class="user__img" src="../img/people-2.jpg" width="30px" height="30px" alt="">
          </div>
          <div class="user__info">
            <div class="user__info-name">
              Артем Куреев
            </div>
          </div>
        </div>
        <textarea class="input-reset" name="" placeholder="Ваш ответ"></textarea>
        <div class="discussions__box">
          <label class="discussions__box-file">
            <input class="visually-hidden" type="file">
            <svg class="" width="27px" height="27px">
              <use xlink:href="img/sprite.svg#add-photo"></use>
            </svg>
          </label>
          <button class="discussions__box-btn btn-reset button">
            Отправить
          </button>
        </div>
      </form>
      <div class="discussions__comments">
        <div class="discussions__comment">
          <div class="discussions__comment-img">
            <img src="../img/people-3.jpg" alt="">
          </div>
          <div class="discussions__comment-contain">
            <div class="discussions__comment-top">
              <div class="discussions__comment-title">
                Даниил Ефимов
              </div>
              <div class="discussions__comment-time">
                19 минут
              </div>
            </div>
            <div class="discussions__comment-content">
              <p>
                Спасибо! очень интересная и полезная статья, но проблемное дело действительно
              </p>
            </div>
            <div class="discussions__comment-interactive">
              <button class="discussions__comment-interactive-answer btn-reset">
                Ответить
              </button>
              <div class="discussions__comment-interactive-rating">
                <button class="discussions__comment-interactive-rating-btn btn-reset">
                  <svg class="" width="24px" height="24px">
                    <use xlink:href="img/sprite.svg#chevron-down"></use>
                  </svg>
                </button>
                <div class="discussions__comment-interactive-rating-counter">
                  11
                </div>
                <button class="discussions__comment-interactive-rating-btn btn-reset">
                  <svg class="" width="24px" height="24px">
                    <use xlink:href="img/sprite.svg#chevron-up"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="discussions__comment discussions__comment--l-2">
          <div class="discussions__comment-img">
            <img src="../img/people-4.jpg" alt="">
          </div>
          <div class="discussions__comment-contain">
            <div class="discussions__comment-top">
              <div class="discussions__comment-title">
                Динара Мизуллина
              </div>
              <div class="discussions__comment-time">
                18.02, 10:14
              </div>
            </div>
            <div class="discussions__comment-content">
              <img src="../img/cat.jpg" alt="">
            </div>
            <div class="discussions__comment-interactive">
              <button type="submit" class="discussions__comment-interactive-answer btn-reset">
                Ответить
              </button>
              <div class="discussions__comment-interactive-rating">
                <button class="discussions__comment-interactive-rating-btn btn-reset">
                  <svg class="" width="24px" height="24px">
                    <use xlink:href="img/sprite.svg#chevron-down"></use>
                  </svg>
                </button>
                <div class="discussions__comment-interactive-rating-counter">
                  11
                </div>
                <button class="discussions__comment-interactive-rating-btn btn-reset">
                  <svg class="" width="24px" height="24px">
                    <use xlink:href="img/sprite.svg#chevron-up"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
