<section class="faq">
  <div class="container">
    <ul class="faq__list list-reset js-accordions">
      <li class="faq__list-item js-accordion">
        <button class="faq__list-item-box btn-reset js-accordion-btn">
          <div class="faq__list-item-title">
            Как определить профессионального риелтора?
          </div>
          <div class="faq__list-item-icon">
            <svg class="" width="45px" height="45px">
              <use xlink:href="img/sprite.svg#chevron-down"></use>
            </svg>
          </div>
        </button>
        <div class="faq__list-item-content js-accordion-content">
          <div class="faq__list-item-content-inner">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptate, obcaecati, temporibus
              perferendis facere iste quisquam nisi deserunt magni velit accusantium quae possimus laboriosam,
              illo nihil. Magnam veritatis expedita explicabo.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptate, obcaecati, temporibus
              perferendis facere iste quisquam nisi deserunt magni velit accusantium quae possimus laboriosam,
              illo nihil. Magnam veritatis expedita explicabo.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
